<html>
    <head>
        <title>
            Animal Duel
        </title>
    </head>
    <body>
        <h1>
            Animal Duel
        </h1>
        <p>
            If a {{ animal }} fights in {{ country }} then they will {{ winner }}  
        </p>
        <h2>
            The last five Animal Duels
        </h2>
        <p>
            {% for animal in last_five_duels %}
            If a {{ animal.type }} fights in {{ animal.country }} then they will {{ animal.winner }}  
            <br>
            {% endfor %}
        </p>
    </body>
</html>