<html>
    <head>
        <title>
            Animal Duel
        </title>
    </head>
    <body>
        <h1>
            Animal Duel
        </h1>
        <p>
            Once upon a time a {{ animal }} decided to travel around the world. Their first stop was {{ country }}. When they arrived they found out that there there were other animals fighting for the prize of a {{ animal }}. The {{ animal }} realised that the {{ animal }} was their mum so they enlisted into the fight. They tried their very best and ended up {{ winner }} .           
        </p>
    </body>
</html>